.content__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4vh;
}

.content__container img {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .content__container {
    flex-direction: column;
  }
  .content__container img {
    width: 100%;
  }
}
