.content {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 4vh;

        img {
            width: 30%;
        }
    }
    
}

@media screen and(max-width: 768px) {
    .content {
        &__container{
            flex-direction: column;
            img {
                width: 100%;
            }
        }
    }
}