.description__container {
  width: 40%;
  margin-left: 10vw;
  align-self: flex-start;
}

.row {
  display: block;
  text-align: left;
}

.title {
  font-size: 20px;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 20px;
}

.price {
  border-bottom: 1px solid #CCCCCC;
  padding: 10px 0px;
}

.text {
  padding: 10px 0px;
  color: #888888;
  line-height: 1.5rem;
}

.size::after {
  content: '*';
  color: #C90000;
  vertical-align: middle;
}

.list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.item {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #888888;
}

.add {
  border: 2px solid black;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 20px;
  background: transparent;
}

@media screen and (max-width: 768px) {
  .description__container {
    width: 100%;
    margin-top: 10vw;
  }
}
