.container {
  display: flex;
  justify-content: flex-start;
  background: white;
  padding: 15px;
}

.container img {
  height: 100px;
}

.text__container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 60px;
  align-self: flex-start;
}

.cartitem__text {
  display: inline-block;
  text-align: left;
  color: #222222;
  font-size: 12px;
}
